<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        {% if message is not none %}
            <p> {{ message }}</p>
        {% endif %}

        <h1>Create Account</h1>
        <form action="{{ url_for('register')}}"method="post">
            <input name="username" type="text" placeholder="username">
            <input name="password" type="text" placeholder="password">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>